@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Добро пожаловать на борт SabaAirlines!</h1>
    <p class="lead">Мы рады приветствовать вас в нашем воздушном пространстве.</p>
    <hr class="my-4">
    <p>У нас вы можете заказать билеты, просмотреть информацию о рейсах и многое другое.</p>
    <a class="btn btn-primary btn-lg" href="/ticket/sale" role="button">Заказать билет</a>
</div>
