@model List<Ticket>
<div class="row">
    <div class="col-9">
        <div class="row">
            <h2>Список рейсов</h2>
        </div>
        <h4><a href="/ticket/addclient">Купить билет</a></h4>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Имя</th>
                        <th>Место</th>
                        <th>Цена</th>
                        <th>Подтвердить</th>
                        <th>Продажа</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@(1 + i)</td>
                            <td>@Model[i].Name</td>
                            <td>@Model[i].Seat</td>
                            <td>@Model[i].Cost</td>
                            <td><a href="/ticket/editproduct?productId=@Model[i].Id">Редактировать</a></td>
                            <td><a href="/ticket/deleteclient?ticketId=@Model[i].Id">Продать</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>